<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block page %}{{title}}{% endblock %}
</head>
<style>
    form {
        text-align: center;
    }
</style>
<body>
	{% for item in range(5) %}
      Hello !
    {% endfor %}
<form action="" method="POST">
  Paste youtube url:<br>
  <input type="url" name="url" placeholder="Hi">
  <br>
  <input type="email" name="email" placeholder="Enter email address">
  <br>
  <input type="submit" value="Submit">
</form> 	
</body>
</html>